.btn {
  background-color: #142850
}


.container-fluid {

  background-image: url('./assets/download.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vH;
}

.row-margin {

  margin-top: 200px;
}

.custom-card {

  padding: 8em 0 8em 0;
  box-shadow: 1px 2px grey;
}

.shadow {
  box-shadow: 4px 6px 10px grey;
}

.shadow-sm {
  box-shadow: 2px 2px 4px grey;
}